#carouselExampleControls{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.carousel-item {
    height: 90vh; 
    background-size: cover;
    background-position: center;
    top: 0;
    
    
}

.carousel-item video {
    width: 100%; /* Imposta la larghezza al 100% del contenitore */
    height: auto; /* Mantiene il rapporto aspetto originale */
}

/* Media query per dispositivi medi e piccoli */
@media (max-width: 1000px) {
    .carousel-item {
        height: 29vh;
    }
}