.titolo{
    color: rgb(0, 0, 0);
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
    font-size: 55px;
    margin-top: 50px;
    margin-bottom: -20px ;
}

.chi-sono {
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.8631827731092436) 100%, rgba(163,164,164,0.835171568627451) 100%);
    margin-top: 5%;
    border-radius: 50px;
}

.chi-sono-image{
   max-width: 100%;
   width: auto;
   max-height: 100%;
   position: relative;
   border-radius: 35px;
   top: auto;
   left: auto;
}

.chi-sono-p{
    color: white;
    font-size: 30px;
    max-width: 100%;
    width: auto;
    position: relative;
}


@media (min-width: 769px) and (max-width: 935px) {
    .titolo{
        margin-top: -80px ;
    }
}

@media (max-width: 768px){
    .chi-sono-p{
        font-size: 15px;
    }
}