#navbar {
    background-color: rgba(0, 0 ,0, 0.9) !important;
}

.nav-link{
    color: white;
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;
} 


#navbar .nav-link:hover,
#navbar .nav-link:active,
#navbar .nav-link:focus {
    color: white !important;
    opacity: 1 !important;
}

@media (max-width: 900px) {
    #navbar .nav-link, 
    #navbar .nav-link:active, 
    #navbar .nav-link:hover,
    #navbar .nav-link:focus {
        color: black !important;
        font-size: 25px;
    }
}

.custom-title {
    text-align: center;
    color: white;
    margin-left: 40px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
}

