.container-image{
    background-image: url(/public/media/sfondoEnzo.JPG);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    opacity: 0.7; 
}
